.app-layout {
    display: flex;
  }
  
.sidebarWrapper {
    position: fixed;
    width: 200px;
    height: 100vh; 
}
  
.content {
    margin-left: 205px;
    margin-top: 65px;
    padding: 16px;
    width: calc(100vw - 210px); 
    height: calc(100vh - 70px);
    border-radius: 3px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}

